@(tests: Seq[Test])

@import utils.Filters._
@width(max: Long, value: Long) = @{( value * 100 ) / max }

@main("Welcome to ZenBench") {

<div class="mainnav">
	<div class="container">
		<h1><a href="@routes.Application.index"><span>ZEN</span>BENCH</a></h1>
	</div>

</div>

<div class="appstats">

</div>

<div class="bench">

	@tests.grouped(3).map{ group =>
		<div class="container">
			@group.map{ test =>
      <a href="@routes.Application.test(test.id)">
				<div class="testcard">
					<header>
						<h2>@test.name</h2>
						<div class="resume">
							<div>
								<p>@test.bench.size</p>
								<p>composants</p>
							</div>
							<div>
								<p>@test.count</p>
								<p>run</p>
							</div>
							<div>
								<p>@test.mean</p>
								<p>moyenne</p>
							</div>
							<div>
								<p>@test.max</p>
								<p>valeur maxi</p>
							</div>
						</div>
					</header>
					<div class="results">
						<ul>
							@test.bench.map{ b =>
								<li>
									<p class="composant">@short_cpu_name(b.ref)</p>
									<div class="bar-container">
										<span class="bar" style="width:@width(test.max, b.mean)%"></span>
									</div>
									<p class="value">@b.mean</p>
								</li>
							}
						</ul>
					</div>
				</div>
</a>
			}
		</div>
	}
</div>


}
