@()

@main("Welcome to ZenBench") {

<div class="mainnav">
	<div class="container">
		<h1><a href="@routes.Application.index"><span>ZEN</span>BENCH</a></h1>
	</div>
	
</div>

<div class="appstats">	

</div>

<div class="bench">
	<div class="container">
		<div class="testcard">
			<header>
				<h2>Nom du test</h2>
				<div class="resume">
					<div>
						<p>28</p>
						<p>composants</p>
					</div>
					<div>
						<p>28</p>
						<p>run</p>
					</div>
					<div>
						<p>28</p>
						<p>moyenne</p>
					</div>
					<div>
						<p>28</p>
						<p>valeur maxi</p>
					</div>
				</div>
			</header>
			<div class="results">
				<ul>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>

				</ul>

			</div>
		</div>
		<div class="testcard">
			<header>
				<h2>Nom du test</h2>
				<div class="resume">
					<div>
						<p>28</p>
						<p>composants</p>
					</div>
					<div>
						<p>28</p>
						<p>run</p>
					</div>
					<div>
						<p>28</p>
						<p>moyenne</p>
					</div>
					<div>
						<p>28</p>
						<p>valeur maxi</p>
					</div>
				</div>
			</header>
			<div class="results">
				<ul>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>

				</ul>

			</div>
		</div>
		<div class="testcard">
			<header>
				<h2>Nom du test</h2>
				<div class="resume">
					<div>
						<p>28</p>
						<p>composants</p>
					</div>
					<div>
						<p>28</p>
						<p>run</p>
					</div>
					<div>
						<p>28</p>
						<p>moyenne</p>
					</div>
					<div>
						<p>28</p>
						<p>valeur maxi</p>
					</div>
				</div>
			</header>
			<div class="results">
				<ul>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>

				</ul>

			</div>
		</div>
		<div class="testcard">
			<header>
				<h2>Nom du test</h2>
				<div class="resume">
					<div>
						<p>28</p>
						<p>composants</p>
					</div>
					<div>
						<p>28</p>
						<p>run</p>
					</div>
					<div>
						<p>28</p>
						<p>moyenne</p>
					</div>
					<div>
						<p>28</p>
						<p>valeur maxi</p>
					</div>
				</div>
			</header>
			<div class="results">
				<ul>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>

				</ul>

			</div>
		</div>
		<div class="testcard">
			<header>
				<h2>Nom du test</h2>
				<div class="resume">
					<div>
						<p>28</p>
						<p>composants</p>
					</div>
					<div>
						<p>28</p>
						<p>run</p>
					</div>
					<div>
						<p>28</p>
						<p>moyenne</p>
					</div>
					<div>
						<p>28</p>
						<p>valeur maxi</p>
					</div>
				</div>
			</header>
			<div class="results">
				<ul>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>

				</ul>

			</div>
		</div>
		<div class="testcard">
			<header>
				<h2>Nom du test</h2>
				<div class="resume">
					<div>
						<p>28</p>
						<p>composants</p>
					</div>
					<div>
						<p>28</p>
						<p>run</p>
					</div>
					<div>
						<p>28</p>
						<p>moyenne</p>
					</div>
					<div>
						<p>28</p>
						<p>valeur maxi</p>
					</div>
				</div>
			</header>
			<div class="results">
				<ul>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>
					<li>
						<p class="composant">composant</p>
						<div class="bar-container">
							<span class="bar"></span>
						</div>
						<p class="value">1235</p>
					</li>

				</ul>

			</div>
		</div>
	</div>
</div>


}
