@()

@main("Welcome to ZenBench") {

	<div class="poster">
		<h1><span>ZEN</span>BENCH</h1>
		<h2>parce qu'on kiff les serveurs</h2>
	</div>

	<blockquote>
		<p>“ Une appli qu'elle est trop bien pour bencher des serveurs ! ”</p>
		<footer>- serveur magazine -</footer>
	</blockquote>

	<div class="content">
		<div class="container buttons">
			<a href="#" class="button big left">télécharger les tests</a>
			<a href="@routes.Application.home" class="button big right">Voir les résultats</a>
 		</div>
	</div>
}
